<div>
  <%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
  <% end %>
</div>
<div>
  <div class='calendar'>
      <div class='item'>
        <div class='date'econd_traiing
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
        </div>
        <ul class='content'>
            <li class='plan-list'>・<%= plan %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>